<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Selling &mdash; Ecommerce Website</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    <div class="top-bar py-3 bg-light" id="home-section">
        <div class="container">
            <div class="row align-items-center">
            
            </div>
        </div>
        </div> 
      </div>

    <header class="site-navbar py-4 bg-white js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
                <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                {% if user.is_authenticated %}
                <li align="right"><font size='4'>Hello , {{user.first_name}}  </font><a href="accounts/logout"><font size='4'>Logout</font></a></li>
                {%else%}
                <p align="right"><a href="accounts/register"><font size='4'>Register  </font></a><a href="accounts/login"><font size='4'>  Login</font></a></p>
                {%endif%}
                </ul>
            <h1 class="mb-0 site-logo"><a href="/" class="text-black mb-0">Shop Stop<span class="text-primary">.</span> </a></h1>

            
          </div>
          
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="/" class="nav-link"><h3>Home</h3></a></li>
                <li><a href="#products-section" class="nav-link"><h3>Products</h3></a></li>
                <li><a href="#about-section" class="nav-link"><h3>About Us</h3></a></li>
                <li><a href="#special-section" class="nav-link"><h3>Special</h3></a></li>
                <li><a href="#services-section" class="nav-link"><h3>Services</h3></a></li>
                <li><a href="#testimonials-section" class="nav-link"><h3>Testimonials</h3></a></li>
              </ul>
            </nav>
          </div>
          

          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

{% block content %}


{% endblock %}


<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>

  
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>